@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
}

body {
  background-color: #f1e1d4;
  color: #251628;
  width: 100%;
}

body.dark {
  background-color: #16151B;
  color: #FCFBF3;
  width: 100%;
}

.background-images-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.top-right-image {
  position: absolute;
  margin-right: -350px;
  top: 0;
  right: 0;
  width: 65%; /* Ajustez la taille de l'image comme souhaité */
  height: 65%; /* Ajustez la taille de l'image comme souhaité */
}

.bottom-left-image {
  position: absolute;
  margin-left: -350px;
  bottom: 0;
  left: 0;
  width: 65%; /* Ajustez la taille de l'image comme souhaité */
  height: 65%; /* Ajustez la taille de l'image comme souhaité */
}

nav {
  background-color: #afaeb4;
  color: #cc32eb;
}

nav.dark {
  background-color: rgb(62, 62, 66);
  color: #f1e1d4;
}

.nav-link {
  color: #b9b9b6;
  padding: 9px;
}

.nav-link:hover {
  color: #FCFBF3;

  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
}

html.dark .dark\:ml-6 {
  margin-left: 1.5rem;
}
